@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>This website is developed and maintained by Rodrick V. Lankford.</p>
<p>The inspiration behnind the original website desin originated from Sameer Saini
    and his guidance on development in a .Net enviroment.</p>


